@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100&display=swap');@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.dark-mode{
    background-color: black;
    color: white;
}