

button {
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    z-index: 2147483647;
}

#Minumizebutton{
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #45a1ff;
    font-size: 100;
    padding: 5px;
    border-radius: 5px; 
    z-index: 2147483647;  
}

:host {
    position: fixed;
    height: 100%;
    top: 740px;
    right: 0px;
    margin: 0;
    padding: 0;
}